<html class="login-bg">

    <h1 class='head'>Manga Monster</h1>

    <form method="post" action="/signup">
        <div class="box">
            <h1>Welcome!</h1>
            <input type="text" name="username" value="username" class="email" required/>
            <input type="password" name="password" value="password" class="password" required/>
            <br>
            <button type='submit' class="btn">Sign Up</button>

            <button type='submit' class="btn2" formaction="/login">Login</button>
    
        </div> <!-- End Box -->
    
    </form>