<html class="login-bg">

    <h1 class='head'>Manga Monster</h1>

    <form method="post" action="index.html">
        <div class="box">
            <h1>Welcome!<br>Returning users enter your information and press login!<br>New users enter a new email address, password and sign up!</h1>

            <input type="email" name="email" value="email" class="email" />
    
            <input type="password" name="password" value="password" class="password" />
    
            <a href="#"><div class="btn">Login</div></a> <!-- End Btn -->

            <a href="#"><div id="btn2">Sign Up</div></a> <!-- End Btn2 -->
    
        </div> <!-- End Box -->
    
    </form>