/* LOGIN BACKGROUND IMAGE */
.homepage {
    background-color: #333;
}

.login-bg {
    background-image:    url(images/anime-chars.png);
    background-size:     100%;                      /* <------ */
    background-repeat:   no-repeat;
    text-align: center;
}

/* LOGIN HEADER*/
.head{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; 
    font-size: 75px
}

/* LOGIN FORM */
form { 
    margin: 15vh auto;
    
}

h1{
    font-size:1.1em;
    color:black;
    font-weight: bolder;
}

.box{
    background:white;
    opacity: 0.85;
    width:500px;
    height: 200px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: blue 1px solid; 
}
  
.email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:black;
    font-weight: bold;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}
  
.password{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:black;
    font-weight: bold;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}
  
.btn{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;    
    margin-top:40px;
    margin-bottom:20px;
    margin-right:60px;
    font-weight:800;
    font-size:1.5em;
}
  
.btn:hover{
    background:#2CC06B; 
}
  
.btn2{
    float:left;
    background:#3498db;
    width:125px;
    padding-right: 50;  
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;    
    margin-top:40px;
    margin-bottom:20px;
    margin-left:100px;
    font-weight:800;
    font-size:1.5em;
}
  
#btn2:hover{ 
  background:#3594D2; 
}

/* NAVIGATION BAR */
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

nav ul{
    list-style: none; 
    display: flex; 
}
nav ul li {
    list-style: none;
}

nav ul a li {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/* GRID SETUP */
.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.icon {
  width: 300;
  height: 300
}

.scrollmenu li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 17.3%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {
    width: 79%;
    border: solid black 2px;
}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 1px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.main-banner{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    overflow: hidden;
    position: relative; 
}

.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;

}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }